/* ===========================
 table of contents
==============================
1. Header Design
2. Button & icon
3- Modal == pop up
4- Responsive Design (media query)*/

/* ========================
    1. Header Design
=========================== */
:root {
  --primary: #000;
  --secondary: rgb(24 24 27);
  --border: rgba(63, 63, 70, 0.4);

  --title: rgb(0, 0, 183);
  --subtitle: #eee;

  --bgHeader: rgb(39, 39, 42);
  --blue: rgb(93, 188, 252);

  --icon-hover: #d4d4d8;

  --container-padding: 4.8rem;
}

/* .navbar{
  color: var(--title);
}

.navbar .container ul li a {
  color: var(--primary);
  opacity: 0.9;
  font-size: 1.01rem;
  font-weight: 500;
}
.navbar .container a {
  color:  var(--primary);
  font-size: 1.7rem;
  font-weight: 700;
}

.navbar-toggler{
  background-color: white;
} */

a{
  text-decoration: none;
}

  .navbartext .container  {
    text-align: center;
    padding: 3rem 0;
    text-decoration: none;
    font-size: 30px;
    border-radius: 20px;
  
  
}
.text{
  text-align: center;
  color: white;
  font-weight: 600;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbartext p{
  color: rgb(184, 178, 178);
  font-size: 13px;
}

/* ========================
    2. Button & icon
=========================== */


/* ========================
    3- Modal == pop up
=========================== */


/* =====================================
  4- Responsive Design (media query)
======================================== */
@media (max-width: 700px) {
  header.flex nav {
    display: none;
  }

  header button.menu {
    display: block;
  }
}
